@import "tailwindcss";

@theme {
	--color-reunion-blue: #28d5e3;
}

@font-face {
	font-family: "Digistick";
	src: url(digistick.ttf) format("truetype");
}

/* Privacy policy */
pre {
	white-space: pre-line;
}

#content {
	border-image-source: url(assets/border.png);
	border-image-slice: 200;

	border-image-repeat: repeat;

	border-image-width: 80px;
	border-image-outset: 80px;
}

.digistick {
	font-family: "digistick" !important;
}

.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
