<a href="{{page}}.html">
	<div class="border-6 border-reunion-blue rounded-full bg-white drop-shadow-2xl text-center min-h-[20px] p-1">
		<span class="digistick text-xl">{{text}}</span>
		<!--<span class="text-xl font-bold drop-shadow-2xl">{{text}}</span>-->
	</div>
</a>
