{{#> layout title='Contact'}}
	{{#*inline "content"}}
		<p class="mt-6">
		Voor vragen omtrent de reünie kunt u contact opnemen met <strong class="prevent-select">rеunie‎<span></span>@dеlftschezwervers.ոl</strong>.
		</p>

		<p>
		De contactgegevens van het dagelijks bestuur van de vereniging zijn te vinden op <a href="https://delftschezwervers.nl/contact">de website van de Delftsche Zwervers</a>.
		</p>
	{{/inline}}
{{/layout}}
