{{#> layout title='Home'}}
	{{#*inline "content"}}
		<div class="text-left">
			<p class="mt-6">De 21e reünie van de Delftsche Zwervers komt eraan! Maak u klaar voor een editie die vonkt, smeult en uiteindelijk in volle vlam zal staan: <span data-role="burn">Brandez-Vous!</span></p>

			<p class="mt-4">In 2025 is het eindelijk weer zover: de <strong>21e reünie van de Delftsche Zwervers</strong>! Een moment om oude vriendschappen op te rakelen, nieuwe verhalen te maken en samen een weekend lang herinneringen te laten oplaaien. We kunnen u alvast verzekeren dat het een reünie wordt die u niet snel zult vergeten! Uiteraard vind het evenement ook dit keer weer plaats in Ommen, en wel van 4 t/m 6 juli.</p>
	    
			<h2 class="text-2xl font-semibold mt-6">Wat kunt u verwachten?</h2>
			<p class="mt-2">Het programma is nog in de maak, maar we beloven een mix van nostalgie, avontuur en natuurlijk de nodige verrassingen. De inschrijvingen zijn nog niet geopend, maar hou uw postduif, rooksignalen of gewoon uw mailbox in de gaten – zodra het zover is, hoort u het als eerste!</p>

			<p class="mt-2">Zoals gewoonlijk vind het officiele deel van de reünie op zaterdag en zondag plaats, maar is er ook de mogelijkheid om al gezellig op vrijdag aan te komen. Vanaf maart is het mogelijk uzelf, uw partner en/of uw kinderen in te schrijven op deze website.</p> 
		    
			<p class="mt-4">Zet de datum, <strong>4 t/m 6 juli</strong> dus alvast met dikke letters in uw agenda en zorg dat u erbij bent. Deze editie wilt u niet missen!</p>
		    
			<p class="mt-6">Tot snel bij <strong>Brandez-Vous</strong>!</p>
			<p class="mt-2 italic">De Reüniecommissie</p>
		</div>
	{{/inline}}
{{/layout}}
