{{#> layout title='Inschrijven'}}
	{{#*inline "content"}}
		<div class="text-left">
			<p class="mt-6">De inschrijvingen zijn helaas nog niet geopend; inschrijven is mogelijk vanaf maart. Zet het alvast in uw agenda, en houdt uw email en deze website in de gaten!</p>
		</div>
	{{/inline}}
{{/layout}}
